/* Основной контейнер */
.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #ffe5b4, #ffcc80); /* Градиентный фон */
  }
  
  .register-container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  /* Заголовки */
  .register-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #d35400; /* Акцентный цвет */
  }
  
  .register-subtitle {
    font-size: 16px;
    margin-bottom: 20px;
    color: #555;
  }
  
  /* Форма */
  .register-form .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .register-form label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #555;
  }
  
  .register-form .form-input5 {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: black;
  }
  
  .register-button {
    width: 100%;
    background-color: #e74c3c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .register-button:hover {
    background-color: #c0392b;
  }